<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container">
  <h1 class="text-center">Update Account</h1>
  <div class="form-container">
    <form (ngSubmit)="updateAccount()" class="mt-3">
      <div class="form-group">
        <input [(ngModel)]="updateAccountFields.name" name="name" class="form-control" placeholder="Name" required>
      </div>
      <div class="form-group">
        <input [(ngModel)]="updateAccountFields.username" name="username" class="form-control" placeholder="Username" required>
      </div>
      <div class="form-group">
        <p-password [(ngModel)]="updateAccountFields.password" inputId="password" placeholder="Password" required></p-password>  </div>
      <div class="form-group">
        <input [(ngModel)]="updateAccountFields.email" name="email" type="email" class="form-control" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input [(ngModel)]="updateAccountFields.phoneNumber" name="phoneNumber" class="form-control" placeholder="Phone Number" required>
      </div>
      <div class="form-group">
        <select [(ngModel)]="updateAccountFields.phoneCarrier" name="phoneCarrier" class="form-control" required>
          <option value="" disabled selected>Select a phone carrier</option>
          <option *ngFor="let carrier of accountPhoneCarriers" [value]="carrier.value">{{carrier.label}}</option>
        </select>
      </div>
      <div class="form-group">
        <input [(ngModel)]="updateAccountFields.lowIngredientThreshold" name="lowIngredientThreshold" class="form-control" placeholder="Low Ingredient Threshold" required>
      </div>
      <button type="submit" class="btn btn-primary">Update Account</button>
    </form>
  </div>
</div>
