<form [formGroup]="updateAccountForm" (ngSubmit)="updateAccount()" class="p-fluid">
  <p-inputText formControlName="name" placeholder="Name"></p-inputText>
  <p-inputText formControlName="username" placeholder="Username"></p-inputText>
  <p-password formControlName="password" placeholder="Password"></p-password>
  <p-inputText formControlName="email" placeholder="Email"></p-inputText>
  <p-inputText formControlName="phoneNumber" placeholder="Phone Number"></p-inputText>
  <p-dropdown formControlName="phoneCarrier" [options]="accountPhoneCarriers" optionLabel="label"></p-dropdown>
  <p-inputNumber formControlName="lowIngredientThreshold" placeholder="Low Ingredient Threshold"></p-inputNumber>
  <p-button type="submit" label="Update Account"></p-button>
</form>
