<h2>Fridges</h2>

<!-- Create Fridge Form -->
<div class="p-grid">
    <div class="p-col-4">
        <p-inputText placeholder="New Fridge Name" [(ngModel)]="newFridgeName"></p-inputText>
    </div>
    <div class="p-col-2">
        <p-button label="Create Fridge" icon="pi pi-plus" (click)="createFridge()"></p-button>
    </div>
</div>

<!-- List of Fridges -->
<div class="p-grid">
    <div *ngFor="let fridge of fridges" class="p-col-4">
        <p-card header="{{ fridge.name }}">
            <ul>
                <li *ngFor="let ingredient of fridge.ingredients">{{ ingredient }}</li>
            </ul>

            <!-- Update Fridge Form -->
            <div class="p-grid">
                <div class="p-col-4">
                    <p-inputText placeholder="Updated Fridge Name" [(ngModel)]="updatedFridgeName"></p-inputText>
                </div>
                <div class="p-col-4">
                    <p-inputText placeholder="Updated Ingredients" [(ngModel)]="updatedIngredients"></p-inputText>
                </div>
                <div class="p-col-4">
                    <p-button label="Update Fridge" icon="pi pi-pencil" (click)="updateFridge(fridge)"></p-button>
                </div>
            </div>

            <!-- Delete Fridge Button -->
            <p-button label="Delete Fridge" icon="pi pi-trash" (click)="deleteFridge(fridge)"></p-button>
        </p-card>
    </div>
</div>